
body {
    margin: 0;
    padding: 0;
    background-color: #00a5c4;
    color: #003641;
}

.container_modal > * {
    width: 80%;
}

.center-content {
    text-align: center;
}

.button-standard {
    font-weight: bold;
    border: 0px solid black;
    border-bottom: 3px solid #003641;
    border-left: 1px solid #003641;
    border-right: 1px solid #003641;
    padding: 8px;
    margin: 8px;
}

.logo {
    width: 50%;
}

.input-box input[type=text] {
    display: block;
    margin: 8px;
    padding: 4px;
    border: 0px solid black;
}

.avatar {
    border-radius:50%;
    margin-bottom: 32px;
    text-align: center;
}

.block {
    background-color: #B2F1CF;
    display:block;
    text-decoration: none;
    margin-top: 18px;
    border: 0px solid black;
    width: 96%;
    vertical-align:middle;
}

body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.fluide {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 60px;
}